:root {
  --primary-color: #31343d;
  --secondary-color: #92cccd;
  --body-color: #445876;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header title and nav links */
header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  flex-wrap: wrap;
}

header a {
  text-decoration: none;
}

header h1 a {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 5px 5px 5px 125px;
  position: relative;
  left: -50px;
  font-size: 45px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li a {
  padding: 10px 10px 5px 10px;
  color: var(--secondary-color);
  margin: auto 10px;
  border-bottom: 3px solid var(--secondary-color);
}

/* page content */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-color);
  font-size: 20px;
}

main {
  margin: 50px 50px 50px 50px;
  align-items: flex-start;
}

/* blue banner and text */
.banner {
  background-color: var(--body-color);
  background-size: cover;
  display: flex;
  background-size: 0%;
  height: 200px;
  justify-content: right;
  align-items: flex-end;
}

.banner-text {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 10px;
  padding: 5px;
  font-size: 25px;
  position: relative;
  right: 25px;
}

/* about me, work, contact info */
.content {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
}

.content > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 10px;
  border-right: 3px solid var(--body-color);
  font-size: 45px;
}

.content-text,
.content-img,
.contact-info {
  padding: 10px;
}

.content > div {
  flex: 0 0 77%;
}

.content-img {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.content-img a {
  position: relative;
}

.content-img img {
  position: relative;
  opacity: 65%;
  width: 400px;
  height: 200px;
  border: 3px solid var(--secondary-color);
  margin: 10px;
}

.content-img img:hover {
  opacity: 100%;
}

.content-img a:first-child {
  width: 800px;
  height: 400px;
}

.img-text {
  position: absolute;
  top: 65%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 0px 10px;
  padding: 5px;
}

/* contact info */
.contact-info {
  display: flex;
  align-items: center;
}

.contact-info li {
  padding: 10px 10px 5px 10px;
  border-bottom: 3px solid var(--body-color);
  margin: auto 25px;
}

.contact-info ul {
  list-style: none;
  display: flex;
}

/* Media query for tablets */
@media screen and (max-width: 980px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
  }

  header h1 a {
    padding: 5px;
    left: 0px;
  }

  header ul {
    padding: 20px 0px;
  }

  .content-img img {
  }
}
